
<footer class="footer">
  <div class="page-number">
    {{t 'template.footer.page'}} <span class="pageNumber"></span>/<span class="totalPages"></span>
  </div>
  <div class="footer-content">
    <div class="footer-column">
      {{companyInfo.companyName}}<br>
      {{companyInfo.companyAddress}}<br>
      {{companyInfo.companyZipCode}} {{companyInfo.companyCity}}<br>
      {{companyInfo.companyCountry}}
    </div>
    {{#if (or companyInfo.companyPhoneNumber companyInfo.companyFax companyInfo.companyEmail companyInfo.companyWebsite)}}
      <div class="footer-column">
        {{#if companyInfo.companyPhoneNumber}}
          {{t 'template.footer.phone'}}: {{companyInfo.companyPhoneNumber}}<br>
        {{/if}}
        {{#if companyInfo.companyFax}}
          {{t 'template.footer.fax'}}: {{companyInfo.companyFax}}<br>
        {{/if}}
        {{#if companyInfo.companyEmail}}
          {{t 'template.footer.email'}}: {{companyInfo.companyEmail}}<br>
        {{/if}}
        {{#if companyInfo.companyWebsite}}
          {{t 'template.footer.web'}}: {{companyInfo.companyWebsite}}
        {{/if}}
      </div>
    {{/if}}
    <div class="footer-column">
      {{#if companyInfo.registryCourt}}
        {{companyInfo.registryCourt}}<br>
      {{/if}}
      {{#if companyInfo.registerNumber}}
        {{t 'template.footer.registerNumber'}}: {{companyInfo.registerNumber}}<br>
      {{/if}}
      {{#if companyInfo.vatId}}
        {{t 'template.footer.vatId'}}: {{companyInfo.vatId}}<br>
      {{/if}}
      {{#if companyInfo.management}}
        {{t 'template.footer.management'}}: {{companyInfo.management}}
      {{/if}}
    </div>
    <div class="footer-column">
      {{#if companyInfo.bankName}}
        {{companyInfo.bankName}}<br>
      {{/if}}
      {{#if companyInfo.iban}}
        {{t 'template.footer.iban'}}: {{companyInfo.iban}}<br>
      {{/if}}
      {{#if companyInfo.bic}}
        {{t 'template.footer.bic'}}: {{companyInfo.bic}}
      {{/if}}
    </div>
  </div>
</footer>
