<main class="main-content">
  <div class="content-box">

    <section class="details-section">
      <div class="billed-to">
        <span class="address-span">
          {{sender.addressLine}}
        </span>

        <div class="recipient-address">
          {{#if customer.displayName}}
            <span>{{customer.displayName}}</span>
          {{/if}}
          {{#if customer.address.address}}
            <span>{{customer.address.address}}</span>
          {{/if}}
          {{#if customer.address.address2}}
            <span>{{customer.address.address2}}</span>
          {{/if}}
          {{#if customer.address.address3}}
            <span>{{customer.address.address3}}</span>
          {{/if}}
          {{#if customer.address.address4}}
            <span>{{customer.address.address4}}</span>
          {{/if}}
          {{#if (or customer.address.zipCode customer.address.city)}}
            <span>{{customer.address.zipCode}} {{customer.address.city}}</span>
          {{/if}}
          {{#if customer.address.countryId}}
            <span>{{t (concat 'countries.' customer.address.countryId)}}</span>
          {{/if}}
        </div>
      </div>
      <div class="invoice-details-table">
        <div class="detail-item main-detail">
          <span class="detail-label">{{t 'template.quote.quoteNumber'}}</span>
          <span class="detail-value">{{quote.quoteId}}</span>
        </div>

        <div class="detail-item">
          <span class="detail-label">{{t 'template.quote.quoteDate'}}</span>
          <span class="detail-value">{{formatDate quote.quoteDate}}</span>
        </div>

        {{#if quote.quoteValidUntil}}
        <div class="detail-item detail-item-bottom-margin">
          <span class="detail-label">{{t 'template.quote.quoteValidUntil'}}</span>
          <span class="detail-value">{{formatDate quote.quoteValidUntil}}</span>
        </div>
        {{/if}}

        {{#if customer.customerId}}
        <div class="detail-item">
          <span class="detail-label">{{t 'template.quote.customerNumber'}}</span>
          <span class="detail-value">{{customer.customerId}}</span>
        </div>
        {{/if}}

        {{#if owner}}
        <div class="detail-item">
          <span class="detail-label">{{t 'template.quote.contactPerson'}}</span>
          <span class="detail-value">{{owner.displayName}}</span>
        </div>
        {{/if}}
      </div>
    </section>

    <p class="invoice-heading">
      {{t 'template.quote.quote'}} {{quote.quoteId}}
    </p>
    {{#if quote.introText}}
    <div class="intro">
      {{{markdownToHtml quote.introText}}}
    </div>
    {{/if}}

    <table class="items-table">
      <thead>
        <tr>
          <th>{{t 'template.quote.pos'}}</th>
          <th>{{t 'template.quote.description'}}</th>
          <th>{{t 'template.quote.unitPrice'}}</th>
          <th>{{t 'template.quote.quantity'}}</th>
          <th>{{t 'template.quote.taxRate'}}</th>
          <th>{{t 'template.quote.net'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each quote.quoteItems}}
        <tr>
          <td class="pos-col">{{inc @index}}.</td>
          <td class="desc-col">
            <strong>{{this.title}}</strong><br>
            {{#if this.description}}
              <div>
              {{{markdownToHtml this.description}}}
              </div>
            {{/if}}
          </td>
          <td class="item-with-unit">{{../companyInfo.companyCurrency}} {{formatNumber this.price}}</td>
          <td class="item-with-unit">{{formatNumber this.quantity}} {{this.unit}}</td>
          <td>{{formatPercent this.taxRate}} %</td>
          <td class="item-with-unit">{{../companyInfo.companyCurrency}} {{formatNumber this.subtotal}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="invoice-totals">
      <div class="total-row">
        <span class="total-label">{{t 'template.quote.subtotal'}}</span>
        <span class="total-value">{{companyInfo.companyCurrency}} {{formatNumber quote.subtotal}}</span>
      </div>
      <div class="total-row">
        <span class="total-label">{{t 'template.quote.plusVat'}}</span>
        <span class="total-value">{{companyInfo.companyCurrency}} {{formatNumber quote.tax}}</span>
      </div>
      <div class="total-row">
        <span class="total-label grand-total">{{t 'template.quote.total'}}</span>
        <span class="total-value grand-total">{{companyInfo.companyCurrency}} {{formatNumber quote.total}}</span>
      </div>
    </div>

    {{#if quote.outroText}}
    <div class="outro">
      {{{markdownToHtml quote.outroText}}}
    </div>
    {{/if}}

  </div>
</main>
